*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
  }

  :root{
    --hue:223;
    --bg:hsl(var(--hue),10%,90%);
    --fg:hsl(var(--hue),10%,10%);
  --themeTrans:0.3s;
  font-size: calc(16px + (24 - 16)*(100vw - 320px) / (1280 - 320));
  
  }

  body{
    background: var(--bg);
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: background-color var(--themeTrans);
  
  
  }

  main {
    padding: 1.5em 0;
  }
  
  .pl {
    width: 11em;
    height: 10em;
  }
  .pl__ring,
  .pl__worm1,
  .pl__worm2,
  .pl__worm3 {
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .pl__ring {
    stroke: hsla(var(--hue),10%,10%,0.1);
    transition: stroke var(--themeTrans);
  }
  .pl__worm1 {
    animation-name: worm1;
  }
  .pl__worm2 {
    animation-name: worm2;
    transform-origin: 32px 88px;
  }
  .pl__worm3 {
    animation-name: worm3;
    transform-origin: 144px 88px;
  }
  